@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url("https://images.pexels.com/photos/1897669/pexels-photo-1897669.jpeg?cs=srgb&dl=pexels-bruno-castelli-1897669.jpg&fm=jpg");
  background-position: center;
}
